{% extends 'base_template.html' %} {% block content %}

<section class="container">
  ALUNOS -> {{alunos}} PROFESSORES -> {{professores}}
  <form action="{{ url_for('admin_page' ) }}" method="post">
    {{ form.hidden_tag() }}
    <div class="login__card-campo">
      <div>{{form.eh_professor.label()}}</div>
      {{form.eh_professor()}}
    </div>
    <div class="login__card-campo">
      <div>{{form.matricula.label()}}</div>
      {{form.matricula(placeholder='Digite sua matricula')}}
    </div>
    <button class="button">Enviar</button>
  </form>
</section>

{% endblock %}
