{% extends 'base_template.html' %} {% block content %}

<section class="grid_aluno">
  <section class="container" id="side_bar">
      <h2 class="container__texto">
        <a href="{{ url_for('disciplina.list' ) }}">Meus Cursos</a>
      </h2>
    <ul>
      {% for disciplina in disciplinas %}
      <li class="container__lista_disciplina">
          <p class="container__texto"><a href="{{ url_for('disciplina.show', disciplina_id=disciplina.id ) }}">
            {{disciplina.nome}}
          </a></p>
        </div>
      </li>
      {% endfor %}
    </ul>
  </section>

 <section class="container aluno">
  <div class="presenca">
    <h1 class="container__texto">Todas as aulas cadastradas</h1>
    <table class="table-striped-columns">
      <thead>
        <tr>
          <th>Ação</th>
          <th>Aula</th>
          <th>Data aula</th>
          <th>Data da Presença</th>
          <th>Presenca</th>
        </tr>
      </thead>
      <tbody>
        {% for presenca in presencas %}
        <tr>
          <td>
            {% if presenca.aula.aberta and not presenca.presente %}
            <button class="button" onclick="openModal({{presenca.aula_id}})">
              Marcar presença
            </button>
            {% else %} Presença fechada {% endif %}
          </td>
          <td>{{presenca.aula.nome}}</td>
          <td>{{presenca.aula.data.strftime('%H:%M %d/%m/%Y')}}</td>
          <td>
            {% if not presenca.presente %} ---- {% else %}
            {{presenca.data.strftime('%H:%M %d/%m/%Y')}} {% endif %}
          </td>
          <td>{% if presenca.presente %} ✅ {% else %} ❌ {% endif %}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
</section>

<!-- Adicione o modal -->

<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close" onclick="closeModal()">&times;</span>
    <h2>Confirmar presença</h2>
    <form
      class="form-group"
      action="{{url_for('presenca.marcar_presenca', disciplina_id=disciplina.id)}}"
      method="POST"
    >
      <input type="hidden" name="aula_id" value="" />
      <div class="">
        <label for="codigo">Código da aula:</label>
        <input type="text" name="codigo" id="codigo" />
        <input type="hidden" name="latitude" id="latitude">
        <input type="hidden" name="longitude" id="longitude">
      </div>
      <button type="submit" class="button">Confirmar</button>
    </form>
  </div>
</div>

<div id="modal_disciplina" class="modal">
  <div class="modal-content">
    <span
      class="close"
      onclick="document.getElementById('modal_disciplina').style.display='none'"
      >&times;</span
    >
    <form
      class="form_disciplina_aluno"
      action="{{ url_for('disciplina.cadastrar_disciplina' ) }}"
      method="post"
    >
      <div class="login__card-campo">
        <label for="nome">Nome</label>
        <input
          type="text"
          class="form-control"
          id="nome"
          placeholder="Digite o nome da disciplina"
          name="disciplina_nome"
        />
      </div>
      <div class="login__card-campo">
        <label for="nome">Código</label>
        <input
          type="text"
          class="form-control"
          id="nome"
          placeholder="Digite o código da disciplina"
          name="disciplina_codigo"
        />
      </div>
      <div class="disciplina_aluno_button">
        <button type="submit" class="button">Salvar</button>
      <button
        type="button"
        class="button"
        onclick="document.getElementById('modal_disciplina').style.display='none'"
      >
        Cancelar
      </button>
      </div>
    </form>
  </div>
</div>

<script src="../../static/scripts/localizacaoAluno.js"></script>
<script>
  // Abrir modal
  function openModal(aula_id) {
    var modal = document.getElementById('myModal');
    modal.style.display = 'block';
    // Passar o ID da aula para o formulário
    var form = modal.querySelector('form');
    var input = form.querySelector('input[name=aula_id]');
    input.value = aula_id;
  }

  

  // Fechar modal
  function closeModal() {
    var modal = document.getElementById('myModal');
    var modal_disciplina = document.getElementById('modal_disciplina');
    modal.style.display = 'none';
    modal_disciplina.style.display = 'none'
  }

  window.onclick = function (event) {
    var modal = document.getElementById('myModal');
    var modal_disciplina = document.getElementById('modal_disciplina');
    if (event.target == modal) {
      modal.style.display = 'none';
    }
    if (event.target == modal_disciplina) {
      modal_disciplina.style.display = 'none';
    }
  };
</script>
{% endblock%}
