{% extends 'base_template.html' %} {% block content %}

<section class="grid_professor-disciplina">
  <section class="container" id="side_bar">
    <div class="aula">
      <p class="container__texto">Cadastrar nova disciplina</p>
      <button
        class="button"
        onclick="document.getElementById('modal_disciplina').style.display='block'"
      >
        Cadastrar
      </button>
    </div>
    <h2 class="container__texto">Meus Cursos</h2>
    <ul>
      {% for disciplina in disciplinas %}
      <li class="container__lista_disciplina">
          <p class="container__texto"><a href="{{ url_for('disciplina.show', disciplina_id=disciplina.id ) }}">
            {{disciplina.nome}}
          </a></p>
          <p class="container__texto">{{disciplina.codigo}}</p>
          <a
            href="{{ url_for('disciplina.delete', disciplina_id=disciplina.id ) }}"
            onclick="return confirm('Tem certeza de que deseja excluir esta aula?')"
            ><button class="button">Excluir</button>
          </a>
        </div>
      </li>
      {% endfor %}
    </ul>
  </section>

  {% if disciplinas %}
  <section class="container aluno">
    <div class="presenca">
      <h1 class="container__texto">Todas as disciplinas cadastradas</h1>
      <table class="table-striped-columns">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Quantidade alunos</th>
            <th>Ver alunos</th>
          </tr>
        </thead>
        <tbody>
          {% for disciplina in disciplinas %}
          <tr>
            <td>{{disciplina.nome}}</td>
            <td>{{disciplina.alunos|count}}</td>
            <td>
             <button class="button" onclick="document.getElementById('modal_alunos').style.display='block'">
              Alunos
            </button>
            </td>
          </tr>
          <!-- MODAL PARA ALUNOS
          <div id="modal_alunos" class="modal">
            <div class="modal-content">
              <span
                class="close"
                onclick="document.getElementById('modal_alunos').style.display='none'"
                >&times;</span
              >
              <div class="alunos-disciplina">
                <ul style="width: 90%;">
                  <li class="aula" style="font-weight: 700;">
                    <p>Nome</p>
                    <p>Matrícula</p>
                  </li>
                  {% for aluno in disciplina.alunos %}
                    <li class="aula">
                      <p>{{aluno.nome}}</p>
                      <p>{{aluno.matricula}}</p>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div> -->
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>

  {% else %}
  <div class="container flex">
    <h2 class="container__texto" style="text-align: center">
      POR FAVOR CADASTRE UMA DISCIPLINA PARA TER ACESSO AS AULAS
    </h2>
    <img
      class="container__imagem"
      src="../../static/img/ilustracao-404-not-found.webp"
      alt=""
    />
  </div>
  {% endif %}
</section>

<div id="modal_disciplina" class="modal">
  <div class="modal-content">
    <span
      class="close"
      onclick="document.getElementById('modal_disciplina').style.display='none'"
      >&times;</span
    >
    <form
      class="form-group organizar"
      action="{{ url_for('disciplina.create' ) }}"
      method="post"
    >
      <div class="login__card-campo">
        <label for="nome">Nome</label>
        <input
          type="text"
          class="form-control"
          id="nome"
          placeholder="Digite o nome da disciplina"
          name="disciplina"
        />
      </div>

      <div class="modal__disciplina-campo">
        <label for="quantidade_total_aulas">Quantidade Total de Aulas</label>
        <input type="number" id="quantidade_total_aulas" name="quantidade_total_aulas" />
      </div>

      <div class="modal__disciplina-campo">
        <label for="hora_inicio">Horário de Início</label>
        <input type="time" id="hora_inicio" name="hora_inicio" />
      </div>
      
      <div class="modal__disciplina-campo">
        <label for="hora_fim">Horário de Término</label>
        <input type="time" id="hora_fim" name="hora_fim" />
      </div>

      <fieldset class="login__card-campo">
        <legend>Dias da Semana</legend>
        <div>
          <input type="checkbox" id="segunda" name="dias_semana[]" value="Segunda-feira">
          <label for="segunda">Segunda-feira</label><br>
        </div>
        <div>
          <input type="checkbox" id="terca" name="dias_semana[]" value="Terça-feira">
          <label for="terca">Terça-feira</label><br>
        </div>
        <div>
          <input type="checkbox" id="quarta" name="dias_semana[]" value="Quarta-feira">
          <label for="quarta">Quarta-feira</label><br>
        </div>
        <div>
          <input type="checkbox" id="quinta" name="dias_semana[]" value="Quinta-feira">
          <label for="quinta">Quinta-feira</label><br>
        </div>
        <div>
          <input type="checkbox" id="sexta" name="dias_semana[]" value="Sexta-feira">
          <label for="sexta">Sexta-feira</label><br>
        </div>
        <div>
          <input type="checkbox" id="sabado" name="dias_semana[]" value="Sábado">
          <label for="sabado">Sábado</label><br>
        </div>
        <div>
          <input type="checkbox" id="domingo" name="dias_semana[]" value="Domingo">
          <label for="domingo">Domingo</label>
        </div>
      </fieldset>

      <button type="submit" class="button">Salvar</button>
      <button
        type="button"
        class="button"
        onclick="document.getElementById('modal_disciplina').style.display='none'"
      >
        Cancelar
      </button>
    </form>
  </div>
</div>




<script>
  // Abrir modal
  function openModal(aula_id) {
    var modal = document.getElementById('myModal');
    modal.style.display = 'block';
    // Passar o ID da aula para o formulário
    var form = modal.querySelector('form');
    var input = form.querySelector('input[name=aula_id]');
    input.value = aula_id;
  }

  // Fechar modal
  function closeModal() {
    var modal = document.getElementById('myModal');
    var modal_disciplina = document.getElementById('modal_disciplina');
    modal.style.display = 'none';
    modal_disciplina.style.display = 'none';
  }

  window.onclick = function (event) {
    var modal = document.getElementById('modal_alunos');
    var modal_disciplina = document.getElementById('modal_disciplina');
    if (event.target == modal) {
      modal.style.display = 'none';
    }
    if (event.target == modal_disciplina) {
      modal_disciplina.style.display = 'none';
    }
  };
</script>
{% endblock%}
