{% extends 'base_template.html' %} {% block content %}

<section class="login">
  <form action="/register" method="post" class="login__card">
    <h1 class="login__card-titulo">UnB - REGISTRO</h1>
    {{ form.hidden_tag() }}
    <div class="login__card-campo">
      <div>{{form.matricula.label()}}</div>
      {{form.matricula(placeholder='Digite sua matricula')}}
    </div>
    <div class="login__card-campo">
      {{form.email.label()}} {{form.email(placeholder='Digite seu email')}}
    </div>
    <div class="login__card-campo">
      {{form.nome.label()}} {{form.nome(placeholder='Digite seu nome')}}
    </div>
    <div class="login__card-campo">
      {{form.senha.label()}} {{form.senha(placeholder='Digite sua senha')}}
    </div>
    {{form.submit(class='button')}}

    <div>
      <span class="card__texto">Já possui uma conta?</span>
      <a class="card__link" href="{{ url_for('login_page' ) }}">Login</a>
    </div>
  </form>
</section>

{% endblock %}
