{% extends 'base_template.html' %} {% block content %}

<section class="container">
  <form action="#" method="post">
    {% for aluno in alunos %}
    <div class="aula">
      <p>{{aluno.matricula}}</p>
      <p>{{aluno.nome}}</p>
      <select name="{{aluno.matricula}}" id="marcar_presenca">
        <option value="" selected>Selecione uma opção</option>
        <option value="1">Presença</option>
        <option value="0">Falta</option>
      </select>
    </div>
    {% endfor %}

    <button class="button">Enviar</button>
  </form>
</section>

{% endblock %}
